<div class="container">
  <ol class="mt-4">
    <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
    <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
    <li>Add a button which may only be clicked if the username is NOT an empty string</li>
    <li>Upon clicking the button, the username should be reset to an empty string</li>
  </ol>
  <hr>
  <div class="form-group">
    <label> Username </label>
    <input type="text" [(ngModel)]="username" class="form-control" />
  </div>
  <div class="form-group">
    <label>Username value : </label> {{ username }}
  </div>
  <button class="btn btn-primary" [disabled]="disableResetButton()" (click)="resetUsername()"> Reset </button>
</div>